.servSectionLeft {
    margin-left: 1.5rem;
}

.servSectionRight {
    padding-left: 5rem;
    padding-right: 3rem;
    margin: auto 0;
    width: 27.3rem;
}

.mobileServSectionLeft {
    width: 98%;
}

.mobileServSectionRight {
    margin-top: 2rem;
    width: 98%;
}

.mobileServSectionImg {
    width: 100%;
    height: 100%;
}

.servSectionImg {
    width: 58.8rem;
    height: 44.4rem;
}

.servSectionBoundary {
    display:flex;

    width:98.8rem;
    height:44.4rem;
    background-color: #FCFCFC;
    margin: 5rem auto;
}

.mobileServSectionBoundary {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5rem auto;
}


.servTag {
    font-size: 1.8rem;
    color: #3692FF;
    font-weight: 700;
    margin-bottom: 1rem;
}

.servTitle {
    font-size: 4.0rem;
    font-weight: 700;
    color: #374151;
    width: 29rem;
}

.tabletServTitle {
    font-size: 4.0rem;
    font-weight: 700;
    color: #374151;
}

.servDescription {
    color: #374151;
    font-size: 2.4rem;
    font-weight: 500;
    width: 34rem;
}

.titles {
    display: flex;
    flex-direction: column;
}

.tabletTitles {
    display: flex;
    gap: 1rem;
}

.descriptions {
    display: flex;
    flex-direction: column;
}
.tabletDescriptions {
    display: flex;
    gap: 1rem;
}

.tabletServDescription {
    color: #374151;
    font-size: 2.4rem;
    font-weight: 500;
}