* {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 20rem;
}

.navigationMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
}

.navigationMenus {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.logoAndMenus {
    display: flex;
}

.line {
    background:rgb(228, 228, 228);
    height: 1px;
    border: 0;
}


.nowPage{
    color: #3692FF;
    font-size: 1.8rem;
}

.notNowPage{
    font-size: 1.8rem;
    color: #4B5563;
}